.asset {
	background: #fff;
	padding: 10px 20px;

	.asset-description {
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		padding: 10px;
		color: #000;
		z-index: 50;
		position: relative;
		top: -267px;
		left: 0;
	}

	@media screen and(max-width: 700px) {
		.responsive-iframe {
			position: relative;
			overflow: hidden;
			padding-top: 56.25%;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.asset-description {
			top: -230px;
			font-size: x-small;
		}
	}
} // asset

@media (max-width: 990px) {
	.asset {
		flex-direction: column;

		.asset-description {
			font-size: smaller;
			p {
				width: 100%;
			}
		}
	}
}

.inplayer-imageholder {
	background-color: transparent !important;
	padding-bottom: 45%;
}
.inplayer-itemdetails {
	display: none !important;
}
.inplayer-buybutton {
	display: block !important;
	margin: 0 auto !important;
	width: 400px !important;
}
