html {
	padding: 0;
	margin: 0;
}
* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

p {
	font-family: $font2;
}
.asset-description {
	text-align: center;
}

body {
	background-color: $dark;
	color: #fff;
	margin: 0;
	padding: 0;
	font-family: $font1;
	-ms-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
} //body

#nav-wrapper {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	font-family: $font2;
	color: #111;
	background-color: $dark;
	font-size: 1em;
	z-index: 100;
	display: flex;
	align-items: center;
	padding: 20px 60px;

	.nav-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 5px;

		ul {
			list-style: none;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			width: 100%;
			margin: 0;

			animation-duration: 0.5s;
			li {
				display: inline;
				text-align: center;
				border-bottom: 2px solid transparent;
				margin: 0 15px;

				@include transition;
				&:hover,
				&:focus {
					border-bottom: 2px solid $primary;
				}

				a {
					color: #fff;
					text-decoration: none;
					// text-transform: uppercase;

					@include transition;

					&:hover {
						opacity: 0.8;
					}
				}
			}
			// .login-button {
			// 	// margin-left: auto;
			// }
		} // ul

		.nav-logo {
			display: flex;
			align-items: center;
			color: #fff;
			// width: 100px;

			.logo {
				width: 190px;
			}
		}
	} // nav-container

	@media (min-width: 790px) {
		.hamburger {
			display: none;
		}
	}
} // nav-wrapper

@media (min-width: 790px) {
	#menu.animated {
		-ms-animation: none;
		-moz-animation: none;
		-webkit-animation: none;
		animation: none;
	}
}

@media (max-width: 789px) {
	#nav-wrapper {
		padding: 0;
		.nav-container {
			position: relative;
			padding: 20px;
			ul {
				padding: 0 !important;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding-left: 40px;
				position: fixed;
				background-color: $dark;
				height: 100vh;
				width: 100vw;
				top: 0;
				left: 0;
				overflow: hidden;
				display: none;
				// top: -400px;

				li {
					margin: 20px 0;
				}

				.login-button {
					margin: 20px 0;
				}

				&.slideInDown {
					display: flex;
				}
			}
		}
	}
}

.sponsor-logos {
	padding: 10px 50px;
	text-align: center;
	img {
		width: 100%;
		max-width: 200px;
		margin: 15px;
		max-height: 200px;
	}
	.logo {
		justify-content: center;
		align-items: center;
	}
	.logo-sm {
		justify-content: center;
		align-items: center;
		img {
			width: 100%;
			margin: 15px;
			max-width: 100px;
			max-height: 100px;
		}
	}
}

.new-amount-grid {
	display: grid;
	grid-gap: 25px;

	.amounts-list-item {
		background-color: $dark;
		// background: rgb(32, 35, 208);
		// background: linear-gradient(
		// 	162deg,
		// 	rgba(32, 35, 208, 1) 0%,
		// 	rgba(160, 63, 196, 1) 65%,
		// 	rgba(254, 83, 187, 1) 100%
		// );
		max-width: 800px;
		margin: 0 auto;

		.amount-number-new {
			display: flex;
			align-items: center;

			.headshot {
				img {
					width: 240px;
					height: 100%;
				}
			}
		}
		.bio {
			p {
				padding: 10px;
				margin: 0;
			}

			a {
				margin: 10px;
			}

			.talent-name {
				padding: 10px 20px 0;
				font-size: 25px;
				.title {
					display: block;
					text-transform: uppercase;
					font-weight: 700;
					margin-bottom: 10px;
				}
			}
		}
	}
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 800px;
	justify-content: center;
	width: inherit;
	// align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	max-width: 600px;
	padding: 0 50px;
	p {
		color: #fff;
	}
}

.sponsorships {
	.new-amount-grid {
		display: grid;
		grid-gap: 15px;
		width: 100%;
		max-width: 700px;
		margin: 0 auto;

		.amounts-list-item {
			background: #212156;
			width: inherit;

			.amount-number-new {
				display: flex;
				align-items: center;

				.price {
					color: $primary;
					font-weight: 600;
					font-family: $font2;
				}
			}

			.price-name {
				padding: 0 20px;

				.title {
					display: block;
					text-transform: uppercase;
					font-weight: 700;
					margin-bottom: 10px;
				}
			}
		}
	}
}

@media screen and (min-width: 471px) {
	.new-amount-grid {
		.amounts-list-item {
			display: grid;
			grid-template-columns: 0.25fr 1fr;

			.amount-number-new {
				justify-content: center;
				background: rgba(255, 255, 255, 0.03);

				.headshot {
					color: $primary;
					font-weight: 600;
				}
			}

			.talent-name {
				padding: 0 20px;

				.title {
					display: block;
					text-transform: uppercase;
					font-weight: 700;
					margin-bottom: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 470px) {
	.new-amount-grid {
		.amounts-list-item {
			display: flex;
			flex-direction: column;

			.amount-number-new {
				padding: 10px 20px 0;
			}
		}
	}
}

/*# sourceMappingURL=style.scss.map */
.inplayer-imageholder {
	background-color: #fff !important;
}
