.hide {
	display: none !important;
}
.flex {
	display: flex !important;
	flex-wrap: wrap;
}

.overflow {
	overflow: hidden;
}

p {
	line-height: 1.5em;
	// color: #b1b1b1;
	font-weight: 300;
}

.txt-center {
	text-align: center;
}
.text-box {
	margin-top: 10px;
	padding: 20px 30px;
	background-color: $primary;
	color: $dark;
}

.box-link {
	background: #212156;
	padding: 20px;
}

.small {
	font-size: 14px;
}

.text-container {
	// max-width: 700px;
	margin: 0 auto;
}
section {
	padding: 40px 20px;

	.container-title {
		text-align: center;
	}
}

.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.container-title {
	color: $primary;
	margin-bottom: 30px;
	font-size: 35px;
	line-height: 1.2;
}

.button,
.inplayer-button {
	font-family: $font2;
	border: none;
	display: inline-block;
	font-size: inherit;
	font-weight: 400;
	color: #fff;
	padding: 15px 25px;
	// height: max-content;
	position: relative;
	cursor: pointer;
	background-color: $btn-color;

	@include transition;

	&:hover,
	&:focus {
		background-color: #fff;
		color: #222;
		border-color: #fff;
		border: 1px solid #111;
	}

	&.none-btn {
		border: none;
		padding: 0;
		background-color: transparent;

		&:hover,
		&:focus {
			background-color: transparent;
			color: #fff;
		}
	}
} // button

.cta-btn {
	@extend .button;

	color: $dark;
	border: none;
	background: $primary;
	text-decoration: none;
	@include transition;

	&:hover,
	&:active,
	&:focus {
		color: $primary;
	}
}

a.link {
	text-decoration: underline;
	font-style: italic;
	// color: $primary;
}

//back to top button
.back-to-top {
	background: none;
	display: none;
	margin: 0;
	position: fixed;
	bottom: 150px;
	right: 23px;
	width: 35px;
	height: 35px;
	z-index: 100;
	text-decoration: none;
	color: #fff;
	opacity: 0.5;
	background-color: rgba(9, 9, 9, 0.6);
	border-radius: 60px;
	@include transition;
	i {
		font-size: 38px;
		position: relative;
		left: -1.5px;
		top: -1.5px;
	}

	&:hover {
		opacity: 1;
	}
}

.bg-white {
	background-color: #ffffff;
}
.txt-white {
	color: #ffffff;
}
.txt-dark {
	color: #111;
}
.txt-gold {
	color: $primary;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
.f-column {
	flex-direction: column;
}
.j-center {
	justify-content: center;
}
.a-center {
	align-items: center;
}
.mw-700 {
	width: 100%;
	max-width: 700px;
}
.m-auto {
	margin: 0 auto;
}
.m-top {
	margin-top: 30px;
}
.p-30 {
	padding: 30px;
}
.txt-uppercase {
	text-transform: uppercase;
}
.txt-center {
	text-align: center;
}
